<label
  class="
    relative
    select-none
    cursor-pointer
  "
>
  <input
  type="{{ input_type }}"
  class="peer hidden"
  name="district"
  value="{{ district.value }}"
  {% if disabled %}
  disabled
  {% endif %}

  />
  {% set asset = district.asset %}
  {% include "image-asset.html" %}
  <code
    class="
      z-10
      absolute top-2 left-2
      h-6 w-6 rounded-full
      leaded 
      flex flex-row justify-center items-center 
      text-secondary-content 
      {{ district.suit|suit_bg_color }}
    "
  >
    {% if district.value != "SecretVault" %}
      {{ district.cost }} 
    {% endif %}
  </code>
  <div
    data-tip="{{ district.description|def }}"
    class="
      absolute top-0 
      w-full text-center 
      {% if district.description.is_some() %}
      tooltip
      {{ tooltip_class }}
      tooltip-bottom
      tooltip-secondary
      before:w-[calc(100%-8px)]
      {% endif %}
    "
  >
    <span class="
        px-2
        font-serif
        text-sm text-secondary-content 
        bg-blue-100
        rounded-lg
      "
    >
      {{ district.name }} 
    </span>
  </div>
</label>
