<h2 class="m-2 underline text-lg font-semibold">
  Abbot
</h2>

TODO: List players richest players here, look at magician menu

<div class="flex flex-row flex-wrap gap-2">
  <button 
    class="btn btn-secondary"
    hx-post="/game/action"
    hx-target="#menu"
    hx-swap="morph:innerHTML"
    name="action"
    value="TakeFromRich"
  >
    Confirm 
  </button>
  <button 
    class="btn btn-accent"
    hx-get="/game/actions"
    hx-target="#menu"
    hx-swap="morph:innerHTML"
  >
    Cancel
  </button>
</div>
<div id="error"></div>
