<div
  id="init-beautify-menu"
  class="hidden"
  _="init remove disabled from <#city input/>"
>
</div>

<h2 class="m-2 underline text-lg font-semibold">
  Artist 🎨
</h2>
<div class="flex flex-row flex-wrap gap-2">
  <button 
    class="btn btn-secondary"
    hx-post="/game/action"
    hx-target="#menu"
    hx-swap="morph:innerHTML"
    name="action"
    value="{{ ActionTag::Beautify.borrow()|debug }}"
  >
    Make it sparkle
  </button>
  {% include "button/cancel.html" %}
</div>
<div id="error"></div>
