<div class="hidden"
  _="
    init
      remove @disabled from <#hand input[name=district]/>
      add @type=radio to <#hand input[name=district]/>
    end
  "
></div>
<h2 
  class="header"
>
  Build
</h2>
<div class="italic text-sm">Select a district from your hand</div>
<div class="flex flex-row gap-2">
  Method: 
  <label class="flex flex-row gap-1 items-center">
    <input 
      class="radio"
      type="radio"
      name="build_method"
      value="Regular"
      checked
    />
    Normal
  </label>
  {% if cardinal %}
  <label class="flex flex-row gap-1 items-center">
    <input 
      class="radio"
      type="radio"
      name="build_method"
      value="Cardinal"
      hx-get="/game/menu/cardinal"
      hx-target="#submenu"
      hx-swap="innerHTML"
    />
    Cardinal
  </label>
  {% endif %}
  {% if framework %}
  <label class="flex flex-row gap-1 items-center">
    <input 
      class="radio"
      type="radio"
      name="build_method"
      value="Framework"
    />
    Framework
  </label>
  {% endif %}
  {% if necropolis %}
  <label class="flex flex-row gap-1 items-center">
    <input 
      class="radio"
      type="radio"
      name="build_method"
      value="Necropolis"
      hx-get="/game/menu/necropolis"
      hx-target="#submenu"
      hx-swap="innerHTML"
    />

    Necropolis
  </label>
  {% endif %}
  {% if thieves_den %}
  <label class="flex flex-row gap-1 items-center">
    <input 
      class="radio"
      type="radio"
      name="build_method"
      value="ThievesDen"
      hx-get="/game/menu/thieves_den"
      hx-target="#submenu"
      hx-swap="innerHTML"
    />
    Thieves's Den
  </label>
  {% endif %}
</div>
<div id="submenu"></div>
<div class="flex flex-row flex-wrap gap-2">
  <button 
    class="btn btn-primary"
    hx-post="/game/action"
    hx-target="#menu"
    hx-swap="morph:innerHTML"
    name="action"
    value="Build"
  >
    Build 
  </button>

  {% include "button/cancel.html" %}
</div>
<div id="error"></div>
