<div class="hidden"
  _="
    init
      remove @disabled from <#hand input[name=district]/>
      add @type=radio to <#hand input[name=district]/>
    end
  "
></div>
<h2 
  class="header"
>
  Build
</h2>
Select a district from your hand to build
<div class="flex flex-row flex-wrap gap-2">
  <button 
    class="btn btn-primary"
    hx-post="/game/action"
    hx-target="#menu"
    hx-swap="morph:innerHTML"
    name="action"
    value="Build"
    hx-vals='{"discard": "Temple","player": "Firefox", "sacrifice": "Watchtower"}'
  >
    Build 
  </button>

  <label>
    Cardinal
    <input 
      class="checkbox"
      type="checkbox"
      name="alt_cost"
      value="Cardinal"
    />
  </label>
  <label>
    Framework
    <input 
      class="checkbox"
      type="checkbox"
      name="alt_cost"
      value="Framework"
    />
  </label>
  <label>
    Necropolis
    <input 
      class="checkbox"
      type="checkbox"
      name="alt_cost"
      value="Necropolis"
    />
  </label>
  <label>
    ThievesDen
    <input 
      class="checkbox"
      type="checkbox"
      name="alt_cost"
      value="ThievesDen"
    />
  </label>




  {% include "button/cancel.html" %}
</div>
<div id="error"></div>
