<div class="hidden"
  _="
    init
      log 'init build'
      remove @disabled from <#hand input[name=district]/>
      add @type=radio to <#hand input[name=district]/>
    end
  "
></div>
<h2 
  class="header"
>
  Build
</h2>
Select a district from your hand to build
<div class="flex flex-row flex-wrap gap-2">
  <button 
    class="btn btn-secondary"
    hx-post="/game/action"
    hx-target="#menu"
    hx-swap="morph:innerHTML"
    name="action"
    value="Build"
  >
    Build 
  </button>
  <button 
    class="btn btn-accent"
    hx-get="/game/actions"
    hx-target="#menu"
    hx-swap="morph:innerHTML"
  >
    Cancel
  </button>
</div>
<div id="error"></div>
