<h2 class="m-2 underline text-lg font-semibold">
  Magic: Swap Hands
</h2>

<div>
  {% for name in players %}
    <label class="block cursor-pointer">
      <input type="radio" name="player" value={{ name }} />
      {{ name }}
    </label>
  {% endfor %}
</div>
<button 
  class="btn btn-secondary"
  hx-post="/game/action"
  hx-swap="outerHTML"
  hx-target="#menu"
  name="action"
  value="Magic"
>
  Swap
</button>
<button 
  class="btn btn-accent"
  hx-get="/game/actions"
  hx-swap="outerHTML"
  hx-target="#menu"
>
  Cancel
</button>
