<section
  id="menu"
  class="p-2 bg-neutral-content grow flex flex-col gap-2 items-center border border-base-200"
  _="
    init
      remove @disabled from <#hand input[name=district]/>
      add @type=radio to <#hand input[name=district]/>
  "
>
  <h2 class="m-2 underline text-lg font-semibold">
    Museum
  </h2>

  Select a district from your hand
  <div class="flex flex-row flex-wrap gap-2">
    <button 
      class="btn btn-secondary"
      hx-post="/game/action"
      hx-swap="outerHTML"
      hx-target="#menu"
      name="action"
      value="Museum"
    >
      Confirm 
    </button>
    <button 
      class="btn btn-accent"
      hx-get="/game/actions"
      hx-swap="outerHTML"
      hx-target="#menu"
    >
      Cancel
    </button>
  </div>
</section>
