<h2 class="header">
  Warrant
</h2>
{{ player }} spent {{ gold }} to build:
{% set input_type = "" %}
{% set enabled = false %}
{% set draggable = false %}
{% set district_tooltip_class = "" %}
{% include "district/square-cropped.html" %}

If you reveal the signed warrant, then their gold will be refunded and you will confiscate the district.
(If they do not have the signed warrant, this menu exists just for bluffing.)
<div class="flex flex-row flex-wrap gap-2">
  {% for action in actions %}
    {% include "action.html" %}
  {% endfor %}
</div>
<div id="error"></div>

