<section
  id="menu"
  class="p-2 bg-neutral-content grow flex flex-col items-center border border-base-200"
  hx-on:load="
    interact(`#menu [data-dropzone]`).dropzone({
      ondrop: (event) => {
        let el = event.relatedTarget.querySelector('input');
        el.checked = true;
        el.value = event.currentTarget.dataset.role;
      }
    })
  "
  _="init 
    enableDrag('#menu')

  "
>
  <h2 class="m-2 underline text-lg font-semibold">
    Send Warrants
  </h2>
  <div class="flex flex-row flex-wrap gap-2 items-center">
    {% set input_type = "checkbox" %} 
    {% set enabled = false %} 
    {% for role in roles %} 
      {% include "game/role-card.html" %}
    {% endfor %}
  </div>
  <div class="flex flex-row flex-wrap gap-2 items-center">
    {% set signed = true %}
    {% include "game/markers/warrant.html" %}
    {% set signed = false %}
    {% include "game/markers/warrant.html" %}
    {% include "game/markers/warrant.html" %}
  </div>
  <div class="m-2 flex flex-row flex-wrap gap-2 items-center">
    {% set action = ActionTag::SendWarrants %}
    <button 
      class="btn btn-secondary"
      hx-post="/game/action"
      hx-swap="outerHTML"
      hx-target="#menu"
      name="action"
      value="{{ action|debug }}"
    >
      Confirm
    </button>
    <button 
      class="btn btn-accent"
      hx-get="/game/actions"
      hx-swap="outerHTML"
      hx-target="#menu"
    >
      Cancel
    </button>
  </div>
</section>
