<section
  id="city"
  class="p-2 bg-neutral-content grow flex flex-col items-center border border-base-200"
>
  <h2 class="m-2 underline text-lg font-semibold">
    {{ city.header }}
  </h2>
  <div class="flex flex-row flex-wrap gap-2">
      {% let input_type = "checkbox" %}
      {% let disabled = true %}
      {% set context = "city" %}
      {% set tooltip_class = city.tooltip_class %}
      {% for (index, district) in city.districts.iter().enumerate() %} 
        {% include "district-card.html" %} 
      {% endfor %}
  </div>
</section>
