<section
  id="city"
  data-old="h-[270px] "
  class="h-screen overflow-x-none overflow-y-scroll p-2 bg-neutral-content flex flex-col border border-base-200"
>
  <h2 class="header">
    {{ city.header }}
  </h2>
  <div class="flex flex-row flex-wrap gap-2">
      {% let input_type = "checkbox" %}
      {% let disabled = false %}
      {% set tooltip_class = city.tooltip_class %}
      {% for column in city.columns %} 
        <div>
          {% for (i, district) in column.iter().enumerate() %} 
            <div 
              {% if i > 0 %}
              class="-mt-[146px]"
              {% endif %}
            >
              {% include "district/square-cropped.html" %} 
            </div>
          {% endfor %} 
        </div>
      {% endfor %}
  </div>
</section>
