<div
  class="h-36 w-36 rounded-lg bg-base-300 flex flex-col justify-between {% if card.description.is_some() %} tooltip {% endif %}"
  data-tip="{{ card.description|def }}"
>
  <div
    class="h-8 w-8 leaded flex flex-row justify-center items-center text-secondary-content rounded-full
    {{ card.suit|suit_bg_color }}
    "
  >
    {% if card.unique_name != Some(SecretVault) %} {{ card.cost }} {% endif %}
  </div>

  <div class="flex flex-col w-full text-center">{{ card.display_name }}</div>
</div>
