<label
  id="{{ context }}-{{ index }}"
  class="
    relative
    select-none
    cursor-pointer
    tooltip
  "
>
  {% if district.beautified %}
  <div 
      data-tip="Beautified by the Artist. Effective cost of {{ district.cost + 1 }}"
      class="absolute left-1 top-0 tooltip tooltip-secondary text-3xl"
  > 
      ✨
  </div>
  {% endif %}
  <input 
    type="{{ input_type }}" 
    class="peer hidden" 
    name="district" 
    disabled="{{ disabled }}"
    value="{{ district.value }}"
  />
  <svg 
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    height="200"
    width="125" 
    class="
      p-1 box-content
      rounded-xl
      peer-checked:p-0
      peer-checked:border
      peer-checked:border-4
      peer-checked:border-success
    "
  >
    <image id="img" x="{{district.image_offset_x}}" y="{{district.image_offset_y}}"
          height="500%"
          xlink:href="/public/districts.jpeg"
          preserveAspectRatio="xMinYMin slice"
    />
  </svg>
  <div
    data-tip="{{ district.description|def }}"
    class="
      absolute
      bottom-0
      left-0
      w-full
      h-[30%]
      {% if district.description.is_some() %}
      tooltip
      tooltip-secondary
      before:max-w-full
      {{ tooltip_class }}
      {% endif %}
    "
  >
  </div>
</label>
