<div
  class="h-36 w-36 border rounded-lg bg-base-300 
  flex flex-col
  {{ card.suit|suit_border_color }}
  {% if card.description.is_some() %} tooltip {% endif %}"
  data-tip="{{ card.description|def }}"
>
  {% if card.unique_name != Some(SecretVault) %}
  <div
    class="h-8 w-8 leaded flex flex-row justify-center items-center text-secondary-content rounded-full bg-primary"
  >
    {{ card.cost }}
  </div>

  {% endif %}
  <div class="flex flex-col justify-end grow w-full text-center">
    {{ card.display_name }}
  </div>
</div>
