<div class="flex flex-row flex-wrap gap-2">
  {% set class = "tooltip-bottom" %} 
  {% set input_type = "radio" %} 
  {% for role in draft %} 
    {% include "role-card.html" %}
  {% endfor %}
</div>

<div class="flex flex-row gap-2">
  {% if actions.contains(DraftPick.borrow()) %}
    <button 
      class="btn btn-secondary"
      disabled
      hx-post="/game/action"
      name="action"
      value={{ DraftPick }}
    >
      Pick
    </button>
  {% endif %}
  {% if actions.contains(DraftDiscard.borrow()) %}
    <button 
      class="btn bg-suit-military"
      disabled
      hx-post="/game/action"
      name="action"
      value={{ DraftDiscard }}
    >
      Discard
    </button>
  {% endif %}
</div>

