<dialog
  open
  id="game-end"
  style="z-index: 1001;"
  class="
    bg-[rgba(30,30,30,0.5)]
    absolute
    h-screen
    w-full
    flex
    flex-row
    items-center
    justify-center
    {% if end.hidden %}
      hidden
    {% endif %}
  "
  _="init enableDrag('#game-end')"
>
  {% if !end.hidden %}
    <div class="
        draggable
        flex flex-col items-center
        gap-2
        py-2
        px-4
        opacity-100
        rounded-lg
        border border-base-200
        bg-neutral-content
      "
    >
      <h2 class="header">Scores</h2>
      <div class="border border-base-300 rounded-2xl" >
        <table className="border-separate border-spacing-0">
          <tbody>
            {% for (i, (name, score)) in end.players.iter().enumerate() %}
              <tr>
                <td
                  class="
                    border-base-300 p-4 
                    {% if i > 0 %}
                    border-t
                    {% endif %}
                  "
                >
                  {{ name }}
                </td>
                <td 
                  class="
                    border-base-300 p-4 border-l
                    {% if i > 0 %}
                    border-t
                    {% endif %}
                  " 
                >
                  {{ score }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
</dialog>
