<section
  id="hand"
  class="p-2 bg-neutral-content flex flex-col overflow-y-scroll border border-base-200"
  _="init call enableDrag('#hand')"
>
  <h2 class="header">
    My Hand
  </h2>
  <div class="min-h-[218px] flex flex-row flex-wrap w-full gap-2">
      {% set input_type = "checkbox" %}
      {% set enabled = false %}
      {% set draggable = true %}
      {% set tooltip_class = "" %}
      {% for (index, district) in my.hand.iter().enumerate() %} 
        {% include "district/square-cropped.html" %} 
      {% endfor %}
  </div>
</section>
