{% extends "base.html" %} 
{% block content %}
<main 
  id="page-root" 
  data-replace-url="/game" 
  data-theme="retro"
  class="
    h-screen
    flex flex-row
  "
>
  <div
    id="left-panel"
    class="flex flex-col"
  >
    <div
      id="roles"
      class="min-w-72 p-2 bg-neutral-content flex flex-col items-center border border-base-200"
    >
      <h2 class="m-2 underline text-lg font-semibold">Roles</h2>

      <div class="flex flex-col gap-2">
        <div class="italic text-sm">Hover over a role for details</div>
        {% for role in characters %}
          <div
            data-tip="{{ role.description }}"
            class="
              cursor-pointer
              text-left 
              tooltip tooltip-right tooltip-secondary
            "
          >
            {{ role.rank }}. {{ role.name }}
          </div>
        {% endfor %}
      </div>
    </div>
    {% include "logs.html" %}
  </div>
  <form
    id="center-panel"
    class="grow flex flex-col"
  >
    {% include "city.html" %}
    <section
      id="hand"
      class="p-2 bg-neutral-content flex flex-col overflow-y-scroll items-start border border-base-200"
    >
      <h2 class="m-2 underline m-2 text-lg font-semibold w-full text-center">
        My Hand
      </h2>
      <div class="flex flex-row justify-center flex-wrap w-full gap-2">
          {% set input_type = "checkbox" %}
          {% set disabled = true %}
          {% set context = "hand" %}
          {% for role in my.roles %} 
            {% include "role-card.html" %} 
          {% endfor %} 
          {% set tooltip_class = "" %}
          {% for (index, district) in my.hand.iter().enumerate() %} 
            {% include "district-card.html" %} 
          {% endfor %}
      </div>
    </section>
    <section
      id="menu"
      class="p-2 bg-neutral-content grow flex flex-col gap-2 items-center border border-base-200"
    >
      <h2 class="m-2 underline text-lg font-semibold">
        {{ menu.header }}
      </h2>
      {% match menu.view %} 
      {% when MenuView::Draft with { actions, roles, discard } %}

        <div class="flex flex-row flex-wrap gap-2">
          {% set input_type = "radio" %} 
          {% set disabled = false %} 
          {% for role in roles %} 
            {% include "role-card.html" %}
          {% endfor %}
        </div>
        <div class="flex flex-row flex-wrap gap-2">
          {% for action in actions %}
          {% include "action.html" %}
          {% endfor %}
        </div>
      {% when MenuView::Followup with { action, revealed} %}
        <div class="flex flex-row flex-wrap gap-2">
          {% set input_type = "radio" %}
          {% set disabled = false %}
          {% set context = "revealed" %}
          {% set tooltip_class = "" %}
          {% for (index, district) in revealed.iter().enumerate() %} 
            {% include "district-card.html" %} 
          {% endfor %}
        </div>
        <div class="flex flex-row flex-wrap gap-2">
          <button 
            class="btn btn-secondary"
            hx-post="/game/action"
            name="action"
            value="{{ action|debug }}"
          >
            Confirm
          </button>
        </div>
      {% when MenuView::Call { actions } %}
        <div class="flex flex-row flex-wrap gap-2">
          {% for action in actions %}
          {% include "action.html" %}
          {% endfor %}
        </div>
      {% endmatch %}
    </section>
  </form>
  <div
    id="right-panel"
    class="flex flex-col"
  >
    <div
      id="players"
      class="p-4 bg-neutral-content border border-base-200 flex flex-col items-center gap-2"
      hx-trigger="mouseleave"
      hx-get="/game/city/{{ my.name }}"
      hx-target="#city"
      hx-swap="outerHTML"
    >
      <h2 class="m-2 underline text-lg font-semibold">Players</h2>
      <div class="italic text-sm">Hover to see more details</div>
      <div class="flex flex-col gap-2">
        {% for player in players %}
        {% include "player-summary.html" %}
        {% endfor %}
      </div>
    </div>
    <div
      id="misc"
      class="grow px-4 bg-neutral-content border border-base-200 flex flex-col items-center gap-2 text-base"
    >
      <h2 class="m-2 underline text-lg font-semibold">Info</h2>
      <div class="flex flex-row justify-center gap-3" >
        <div class="flex flex-col" >
          <div>
            Round: 
          </div>
          <div>
            Deck: 
          </div>
          {% if misc.timer.is_some() %}
          <div>
            Timer: 
          </div>
          {% endif %}
        </div>
        <div class="flex flex-col">
          <div>
            {{ misc.round }}
          </div>
          <div>
            {{ misc.deck }}
          </div>
          {% match misc.timer %}
          {% when Some with (timer) %}
            <div>
              {{ timer }}
            </div>
          {% else %}
          {% endmatch %}
        </div>
      </div>
    </div>
</main>
{% endblock %}
