{% extends "base.html" %} 
{% block content %}
<main 
  id="main" 
  data-replace-url="/game" 
  data-theme="retro"
  class="
    h-screen
    flex flex-row
  "
>
    <div
      id="roles"
      class="min-w-72 p-2 bg-neutral-content flex flex-col items-center border border-base-200"
    >
      <h2 class="m-2 underline text-lg font-semibold">Roles</h2>

      <div class="flex flex-col gap-2">
        <div class="italic text-sm">Hover over a role for details</div>
        {% for role in characters %}
          <div
            data-tip="{{ role.description }}"
            class="
              cursor-pointer
              text-left 
              tooltip tooltip-right tooltip-secondary
            "
          >
            {{ role.rank }}. {{ role.name }}
          </div>
        {% endfor %}
      </div>
    </div>

    <section
      id="main-panel"
      class="grow flex flex-col"
    >

      <section
        id="actions"
        class="p-2 bg-neutral-content grow flex flex-col gap-2 items-center border border-base-200"
      >
        {% match phase %} 
        {% when GamePhase::Draft %}
        <h2 class="m-2 underline text-lg font-semibold">
          Draft
        </h2>
        {% if active_name == my.name %}
        {% include "draft.html" %}
        {% endif %}
        {% when GamePhase::Call %}
        <h2 class="m-2 underline text-lg font-semibold">
          Actions
        </h2>
        {% endmatch %}
      </section>
      <div
        id="city"
        class="p-2 bg-neutral-content grow flex flex-col items-center border border-base-200"
      >
        <h2 class="m-2 underline text-lg font-semibold">
          {{ my.name }}'s
          City
        </h2>
      </div>
      <div
        id="hand"
        class="p-2 bg-neutral-content grow flex flex-col overflow-scroll items-start border border-base-200"
      >
        <h2 class="m-2 underline m-2 text-lg font-semibold w-full text-center">
          {{ my.name }}'s
          Hand
        </h2>
        <div class="flex flex-row flex-wrap gap-2">
          {% set class = "tooltip-top" %}
          {% set input_type = "" %}
            {% for role in my.roles %} 
              {% include "role-card.html" %} 
            {% endfor %} 
            {% let input_type = "checkbox" %}
            {% for district in my.hand %} 
              {% include "district-card.html" %} 
            {% endfor %}
        </div>
      </div>
    </section>
    <div
      id="players"
      class="px-4 bg-neutral-content border border-base-200 flex flex-col items-center gap-2"
    >
      <h2 class="m-2 underline text-lg font-semibold">Players</h2>
      <div class="italic text-sm">Hover over a player to see more details</div>
      <div class="flex flex-col gap-2">
        {% for player in players %}
        {% include "player-summary.html" %}
        {% endfor %}
      </div>
    </div>
</main>
{% endblock %}
