      <span 
        data-tip="The crown. They will draft first next round."
        class="tooltip tooltip-left tooltip-secondary text-2xl"
      > 
        👑
      </span>

      <span 
        data-tip="First completed city.&#10;Worth 4 extra points at the end of the game."
        class="tooltip tooltip-left tooltip-secondary text-2xl"
      > 
        🥇 
      </span>
      <span 
        data-tip="Completed city, but not first.&#10;Worth 2 extra points at the end of the game."
        class="tooltip tooltip-left tooltip-secondary text-2xl"
      > 
        ✔️
      </span>
      <span 
        data-tip="Killed by the Assassin"
        class="tooltip tooltip-left tooltip-secondary text-2xl"
      > 
        ☠️
      </span>
      <span 
        data-tip="Robbed by the Thief"
        class="tooltip tooltip-left tooltip-secondary text-2xl"
      > 
        💸
      </span>

      <span 
        data-tip="Warrant from the Magistrate"
        class="tooltip tooltip-left tooltip-secondary text-2xl"
      > 
        📜
      </span>
      <span 
        data-tip="Threat from the Blackmailer"
        class="tooltip tooltip-left tooltip-secondary text-2xl"
      > 
        ✉️
      </span>
      <span
          data-tip="Bewitched by the Witch"
          class="tooltip tooltip-left tooltip-secondary text-2xl"
      > 
        🦹‍♂️
      </span>
