<section
  id="menu"
  class="p-2 bg-neutral-content grow flex flex-col gap-2 border border-base-200"
  _="init add @disabled to <#main-panel input/>"
>
  <h2 class="header">
    {{ menu.header }}
  </h2>
  {% match menu.view %} 
  {% when MenuView::Call { abilities } %}
    <div class="flex flex-col gap-2 items-center">
      <div class="flex flex-row gap-2">
        {% set action = ActionTag::GatherResourceGold %}
        {% include "action.html" %}
        {% set action = ActionTag::GatherResourceCards %}
        {% include "action.html" %}
      </div>
      <div>
        {% set action = ActionTag::Build %}
        {% include "action.html" %}
      </div>
      <div class="flex flex-row flex-wrap gap-2">
        {% for action in abilities %}
          {% include "action.html" %}
        {% endfor %}
      </div>
      <div>
        {% set action = ActionTag::EndTurn %}
        <button 
          class="btn {{ action|class }}"
          hx-post="/game/action"
          hx-swap="outerHTML"
          hx-target="#menu"
          hx-confirm="End turn early?"
          name="action"
          value="{{ action|debug }}"
          {% if context.disabled(action) %}
          disabled
          {% endif %}
        >
          {{ action }}
        </button>
      <div>
    </div>
  {% when MenuView::Draft with { actions, roles, discard } %}
    <div class="flex flex-row flex-wrap gap-2">
      {% set input_type = "radio" %} 
      {% set disabled = false %} 
      {% for role in roles %} 
        {% include "role-card.html" %}
      {% endfor %}
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      {% for action in actions %}
        {% include "action.html" %}
      {% endfor %}
    </div>
  {% when MenuView::Followup with { action, revealed} %}
    <div class="flex flex-row flex-wrap gap-2">
      {% set input_type = "radio" %}
      {% set disabled = false %}
      {% set context = "revealed" %}
      {% set tooltip_class = "" %}
      {% for (index, district) in revealed.iter().enumerate() %} 
        {% include "district-card.html" %} 
      {% endfor %}
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <button 
        class="btn btn-secondary"
        hx-post="/game/action"
        name="action"
        value="{{ action|debug }}"
      >
        Pick
      </button>
    </div>
  {% endmatch %}
</section>
