<div class="hidden" _="init add @disabled to <#main-panel input/>"></div>

{% match menu %} 
{% when MenuView::GameOver %}
{% when MenuView::Logs { header, logs } %}
  <h2 class="header">
    {{ header }}
  </h2>
  <div class="flex flex-col gap-2 items-center">
      <code class="text-sm">
        {% for log in logs %}
          {{ log }}
          <br>
        {% endfor %}
      </code>
  </div>

{% when MenuView::HandleBlackmail { blackmailer, bribe } %}
  <h2 class="header">
    Blackmailed
  </h2>
  You have been blackmailed by {{ blackmailer }}. 
  You can pay them off with half your gold, or risk all of your gold.
  <div class="flex flex-row gap-2">
    {% set action = ActionTag::PayBribe %}
    {% include "action.html" %}
    {% set action = ActionTag::IgnoreBlackmail %}
    {% include "action.html" %}
  </div>

{% when MenuView::ForcedGatherResources { role, explanation } %}
  <h2 class="header">
    {{ role }}'s Turn
  </h2>
  {{ explanation }}
  <div class="flex flex-row gap-2">
    {% set action = ActionTag::GatherResourceGold %}
    {% include "action.html" %}
    {% set action = ActionTag::GatherResourceCards %}
    {% include "action.html" %}
  </div>

{% when MenuView::Call { role, abilities } %}
  <h2 class="header">
    {{ role }}'s Turn
  </h2>
  <div class="flex flex-col gap-2 items-center">
    <div class="flex flex-row gap-2">
      {% set action = ActionTag::GatherResourceGold %}
      {% include "action.html" %}
      {% set action = ActionTag::GatherResourceCards %}
      {% include "action.html" %}
    </div>
    <div class="flex flex-row gap-2 items-center">
      {% set action = ActionTag::Build %}
      {% include "action.html" %}
      Builds left: {{ context.game.remaining_builds }}
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      {% for action in abilities %}
        {% include "action.html" %}
      {% endfor %}
    </div>
    <div>
      {% set action = ActionTag::EndTurn %}
      <button 
        class="btn {{ action|class }}"
        hx-post="/game/action"
        hx-target="#menu"
        hx-swap="morph:innerHTML"
        name="action"
        value="{{ action|debug }}"
        {% if context.disabled(action) %}
        disabled
        {% endif %}
      >
        {{ context.label(action) }}
      </button>
    <div>
  </div>
{% when MenuView::Draft with { actions, roles, discard } %}
  <h2 class="header">
    Draft
  </h2>
  <div class="flex flex-row flex-wrap gap-2">
    {% set input_type = "radio" %} 
    {% set enabled = true %} 
    {% for role in roles %} 
      {% include "role-card.html" %}
    {% endfor %}
  </div>
  <div class="flex flex-row flex-wrap gap-2">
    {% for action in actions %}
      {% include "action.html" %}
    {% endfor %}
  </div>
{% when MenuView::RevealWarrant with { player, gold, actions, district } %}
{% include "menus/reveal-warrant.html" %}

{% when MenuView::RevealBlackmail with { player, gold, actions } %}
  <h2 class="header">
    Blackmail
  </h2>

  {{ player }} has {{ gold }}

  <div class="flex flex-row flex-wrap gap-2">
    {% for action in actions %}
      {% include "action.html" %}
    {% endfor %}
  </div>
<div id="error"></div>

{% when MenuView::Spy with { player, hand } %}
  <h2 class="header">
    {{ player }}'s Hand
  </h2>
  <div class="flex flex-row flex-wrap gap-2">
    {% set input_type = "" %}
    {% set enabled = false %} 
    {% set draggable = true %}
    {% for district in hand %} 
      {% include "district/square-cropped.html" %} 
    {% endfor %}
  </div>
  <div class="flex flex-row flex-wrap gap-2">
    <button 
      class="btn btn-secondary"
      hx-post="/game/action"
      name="action"
      value="SpyAcknowledge"
    >
      Acknowledge
    </button>
  </div>
{% when MenuView::Followup with { role, action, revealed} %}
  <h2 class="header">
    {{ role }}'s Turn
  </h2>
  <div class="flex flex-row flex-wrap gap-2">
    {% set input_type = "radio" %}
    {% set enabled = true %} 
    {% set draggable = false %}
    {% for district in revealed %} 
      {% include "district/square-cropped.html" %} 
    {% endfor %}
  </div>

  <div class="flex flex-row flex-wrap gap-2">
    <button 
      class="btn btn-secondary"
      hx-post="/game/action"
      name="action"
      value="{{ action|debug }}"
    >
      Pick
    </button>
  </div>
{% when MenuView::TODO %}
TODO
{% endmatch %}
