<section
  id="menu"
  class="p-2 bg-neutral-content grow flex flex-col gap-2 items-center border border-base-200"
>
  <h2 class="m-2 underline text-lg font-semibold">
    {{ menu.header }}
  </h2>
  {% match menu.view %} 
  {% when MenuView::Draft with { actions, roles, discard } %}

    <div class="flex flex-row flex-wrap gap-2">
      {% set input_type = "radio" %} 
      {% set disabled = false %} 
      {% for role in roles %} 
        {% include "role-card.html" %}
      {% endfor %}
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      {% for action in actions %}
      {% include "action.html" %}
      {% endfor %}
    </div>
  {% when MenuView::Followup with { action, revealed} %}
    <div class="flex flex-row flex-wrap gap-2">
      {% set input_type = "radio" %}
      {% set disabled = false %}
      {% set context = "revealed" %}
      {% set tooltip_class = "" %}
      {% for (index, district) in revealed.iter().enumerate() %} 
        {% include "district-card.html" %} 
      {% endfor %}
    </div>
    <div class="flex flex-row flex-wrap gap-2">
      <button 
        class="btn btn-secondary"
        hx-post="/game/action"
        name="action"
        value="{{ action|debug }}"
      >
        Confirm
      </button>
    </div>
  {% when MenuView::Call { actions } %}
    <div class="flex flex-row flex-wrap gap-2">
      {% for action in actions %}
      {% include "action.html" %}
      {% endfor %}
    </div>
  {% endmatch %}
</section>
