<div
  class="
    min-w-36
    text-base
    p-2
    border
    border-neutral
    rounded-xl
    {% if player.active %}
    bg-slate-300
    {% endif %}
  "
  type="button"
  hx-get="/game/city/{{ player.name }}"
  hx-trigger="mouseenter"
  hx-target="#city"
  hx-swap="outerHTML"
>
  <div
    class="text-center text-lg semibold"
    id="player-{{ player.name }}"
  >
      {{ player.name }} 
  </div>
  <div class="flex flex-row justify-center gap-3" >
    <div class="flex flex-col" >
      <div>
        Gold: 
      </div>
      <div>
        Hand: 
      </div>
      <div>
        City: 
      </div>
      <div>
        Score:
      </div>
    </div>

    <div class="flex flex-col">
      <div>
        {{ player.gold }}
      </div>
      <div>
        {{ player.hand_size }}
      </div>
      <div>
        {{ player.city_size }}
      </div>
      <div>
        {{ player.score }}
      </div>
    </div>
  </div>
</div>
