<button
  class="
    min-w-36
    text-base
    p-2
    border
    border-neutral
    rounded-xl
    {% if active_name == player.name %}
    bg-slate-300
    {% endif %}
  "
  {% if dev_mode %}
  type="submit"
  hx-post="/game/impersonate"
  name="name"
  value="{{ player.name }}"
  {% else %}
  type="button"
  {% endif %}
>
  <div
    class="text-center text-lg semibold"
    id="player-{{ player.name }}"
  >
      {{ player.name }} 
  </div>
  <div class="flex flex-row justify-center gap-3" >
    <div class="flex flex-col" >
      <div>
        Gold: 
      </div>
      <div>
        Hand: 
      </div>
      <div>
        City: 
      </div>
    </div>

    <div class="flex flex-col">
      <div>
        {{ player.gold }}
      </div>
      <div>
        {{ player.hand_size }}
      </div>
      <div>
        {{ player.city.len() }}
      </div>
    </div>
  </div>
</button>
