<label
  class="
    h-32 w-20 
    p-1 rounded-lg 
    bg-base-300 
    flex flex-col 
    justify-between
    select-none
    box-content
    cursor-pointer
    has-[:checked]:p-0
    has-[:checked]:border
    has-[:checked]:border-4
    has-[:checked]:border-success
    {{ class }}
  "
  data-tip="{{ card.description }}"
>
  <div
    class="h-8 w-8 leaded flex flex-row justify-center items-center text-secondary-content rounded-full {{ card.suit|suit_bg_character }}
    "
  >
    {{ card.rank }}
  </div>

  <div class="w-full text-center">
    {{ card.name }}
  </div>

  <input 
    type="{{ input_type }}" 
    class="hidden" 
    name="role" 
    value="{{ card.name }}"
  />
</label>
