<label
  data-tip="{{ role.description }}"
  class="
    relative
    select-none
    cursor-pointer
  "
>
  <!--
  <div
    class="
      absolute
      right-0
      top-0
      leaded
      h-8 w-8
      flex flex-row 
      justify-center items-center 
      text-slate-600
      rounded-full
      border
      border-neutral-content
    "
  >
    ?
  </div>
  -->
  <input
    type="{{ input_type }}"
    class="peer hidden"
    name="role"
    value="{{ role.name }}"
  />
  <svg 
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    height="200"
    width="155" 
    class="
      p-1 box-content
      rounded-xl
      peer-checked:p-0
      peer-checked:border
      peer-checked:border-4
      peer-checked:border-success
    "
  >
    <image id="img" x="{{role.name.asset_x()}}" y="{{role.name.asset_y()}}"
          height="400%"
          xlink:href="/public/roles.jpeg"
          preserveAspectRatio="xMinYMin slice"
    />
  </svg>
</label>

