<button
  class="h-32 w-32 p-1 rounded-lg bg-base-300 flex flex-col
  box-content
  {{class}}"
  type="button"
  hx-trigger="none"
  data-name="{{ card.name }}"
  data-tip="{{ card.description }}"
  _="install Card(tooltip:'debounce')"
>
  <div
    class="h-8 w-8 leaded flex flex-row justify-center items-center text-secondary-content rounded-full {{ card.suit|suit_bg_character }}
   "
  >
    {{ card.rank }}
  </div>

  <div class="flex flex-col justify-end grow w-full text-center">
    {{ card.name }}
  </div>
  <input class="hidden" type="checkbox" name="role" value="{{ card.name }}"/>
</button>
