<label
  class="
    relative
    select-none
    cursor-pointer
  "
>
  <input
    type="{{ input_type }}"
    class="peer hidden"
    name="role"
    value="{{ role.value }}"
  />
  <svg 
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    height="200"
    width="155" 
    class="
      p-1 box-content
      rounded-xl
      peer-checked:p-0
      peer-checked:border
      peer-checked:border-4
      peer-checked:border-success
    "
  >
    <image id="img" x="{{role.image_offset_x}}" y="{{role.image_offset_y}}"
          height="400%"
          xlink:href="/public/roles.jpeg"
          preserveAspectRatio="xMinYMin slice"
    />
  </svg>
  <div
    data-tip="{{ role.description }}"
    class="
      absolute
      bottom-0
      left-0
      w-full
      h-[30%]
      tooltip
      tooltip-secondary
    "
  >
  </div>
</label>
