<label
  class="
    relative
    select-none
    cursor-pointer
  "
>
  <input
    type="{{ input_type }}"
    class="peer hidden"
    name="role"
    value="{{ role.value }}"
    {% if !enabled %}
    disabled
    {% endif %}
  />

  {% set asset = role.asset %}
  {% include "image-asset.html" %}
  <div
    data-tip="{{ role.description }}"
    class="
      absolute
      bottom-0
      left-0
      w-full
      h-[30%]
      tooltip
      tooltip-secondary
      before:max-w-full
    "
  >
  </div>
</label>
