<div
  id="roles"
  class="grow p-2 bg-neutral-content flex flex-col border border-base-200 overflow-y-scroll overflow-x-hidden"
>
  <h2 class="header">Roles</h2>
  <div class="flex flex-col gap-2">
    <div class="italic text-sm">Click for logs</div>
    {% for character in characters %}
    {% set role = character.role.data() %}
      <details open tabindex="-1">
        <summary 
          class="
            text-left
            text-wrap
            block
            {% if character.logs.len() > 0 %}
              cursor-pointer
            {% endif %}
          "
        >
          <span class="" >
            {{ role.rank }}. {{ role.name.display_name() }}
          </span>
          {% for marker in character.markers %}
            {% match marker %} 
            {% when Marker::Killed %}            
              <span 
                data-tip="Killed"
                class="tooltip tooltip-bottom tooltip-secondary text-xl"
              > 
                ☠️
              </span>
            {% when Marker::Robbed %}
              <span 
                data-tip="Robbed"
                class="tooltip tooltip-bottom tooltip-secondary text-xl"
              > 
                💸
              </span>
            {% when Marker::Warrant with { signed } %}
              <span 
                data-tip="Warrant"
                class="tooltip tooltip-bottom tooltip-secondary text-xl"
              > 
                📜
              </span>
            {% when Marker::Blackmail with { flowered } %}
              <span 
                data-tip="Blackmail"
                class="tooltip tooltip-bottom tooltip-secondary text-xl"
              > 
                🥀
              </span>
            {% when Marker::Bewitched %}
              <span 
                data-tip="Bewitched"
                class="tooltip tooltip-bottom tooltip-secondary text-xl"
              > 
                🦹‍♂️
              </span>
            {% endmatch %}
          {% endfor %}
          {% if role.name == RoleName::TaxCollector %}
          {% for _ in 0..context.game.tax_collector %}
            <span 
              data-tip="Taxes"
              class="tooltip tooltip-bottom tooltip-secondary text-xl"
            > 
              💰 
            </span>
          {% endfor %}
          {% endif %}
        </summary>
        <div 
          class="cursor-pointer text-sm"
          _="on click remove @open from closest <details/>"
        >
          <code id="logs-{{ role.name|debug }}" >
            {% for log in character.logs %}
              {{ log }}
              <br>
            {% endfor %}
          </code>
        </div>
      </details>
    {% endfor %}
  </div>
</div>
