{% extends "base.html" %}
{% block config_content %}
  <div class="flex flex-row flex-wrap gap-1">
    {% for district in districts %}
      <label
        class="
          select-none
          cursor-pointer
          p-1 box-content
          rounded-2xl
          [&:has([data-index='1'])]:p-0
          [&:has([data-index='1'])]:border
          [&:has([data-index='1'])]:border-4
          [&:has([data-index='1'])]:border-success
        "
        _="
        on click
          set el to <input /> in me
          get the @data-index of el
          increment it
          set index to it mod 3
          set the @data-index of el to index
          get the @data-vals of el
          call JSON.parse(it)
          set el.value to it[index]
          log el
        end
        "  
      >
        <input
          data-index="0"
          data-vals='["Sometimes", "Always", "Never"]'
          type="hidden"
          name="{{ district.value }}"
          value="Sometimes"
          class="peer"
        />
        <div 
          data-tip="{{ district.description|def }}"
          class="
            w-full
            rounded-t-xl relative h-10 bg-neutral
            {% if district.description.is_some() %}
            tooltip
            tooltip-bottom
            tooltip-secondary
            before:w-full
            {% endif %}
          "
        >
          <div
            class="
              absolute top-2
              leaded
              w-full text-center 
              font-serif
              text-base text-neutral-content
              {% if district.value == "SchoolOfMagic" %}
              ml-2
              {% else if district.value == "ImperialTreasury" %}
              ml-4
              {% else if district.value == "HauntedQuarter" %}
              ml-3
              {% endif %}
            "
          >
            {{ district.name }} 
          </div>
          <code
            class="
              absolute top-2 left-2
              h-6 w-6 rounded-full
              leaded 
              flex flex-row justify-center items-center 
              text-secondary-content 
              {{ district.suit|suit_bg_color }}
            "
          >
          {% match district.cost %}
          {% when Some with (cost) %}
              {{ cost }} 
          {% else %}
          {% endmatch %}
          </code>
        </div>
        {% set asset = district.asset %}
        <svg 
          class="rounded-b-xl saturate-100 peer-[[data-index='2']]:saturate-0"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          height="{{ asset.height }}"
          width="{{ asset.width }}"
        >
          <image id="img" x="{{asset.offset_x}}" y="{{asset.offset_y}}"
                height="{{ asset.scale_percentage }}%"
                xlink:href="{{ asset.path }}"
                preserveAspectRatio="xMinYMin slice"
          />
        </svg>
        <div 
          class="absolute top-10"
          style="height: {{ asset.height }}px"
        >
        </div>
      </label>
    {% endfor %}
  </div>
{% endblock %}
