{% extends "base.html" %}
{% block content %}
<main
  id="page-root" 
  hx-swap-oob="morph"
  data-replace-url="/lobby"
  data-theme="dark"
  class="bg-base-100 h-full"
>
  <dialog id="config"></dialog>
  <div class="flex flex-col gap-3 items-center justify-center">
    <h2 class="mt-3 underline text-2xl font-semibold">Lobby</h2>
    <form
      class="p-7 flex flex-col gap-3 items-start rounded border border-slate-500"
    >
      <label class="flex flex-col gap-3">
        <span class="mr-3">Username:</span>
        <input
          class="px-3 border rounded border-slate-400 bg-slate-500"
          type="text"
          name="username"
          value="{{ username }}"
          autocomplete="username"
        />
      </label>
      <div class="flex flex-row gap-3">
        <button 
          class="btn btn-primary" 
          hx-post="/lobby/register" 
          hx-swap="none"
        >
          Join
        </button>
        <button
          class="btn btn-accent"
          hx-post="/game"
          hx-swap="none"
        >
          Start
        </button>
        <button
          class="btn btn-secondary"
          hx-get="/lobby/config/roles"
          hx-target="#config"
          hx-swap="outerHTML"
        >
          Config
        </button>
      </div>
      <div id="error" class="text-wrap w-60"></div>
    </form>
    {% include "players.html" %}
  </div>
</main>
{% endblock %}
