<!doctype html>
<html>
  <head>
    <title>Citadels</title>
    <meta charset="utf-8" />
    <link name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/public/htmx.png" />
    <link rel="stylesheet" href="/public/index.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.js"></script>
    <script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
    <script>
      Idiomorph.defaults.head = 'none';

      document.addEventListener("htmx:wsAfterMessage", (event) => {
        let node = event.detail.elt.querySelector("[data-replace-url]");
        let url = node.dataset.replaceUrl;
        if (url) {
          history.replaceState({}, "", url);
        }
        if (event.detail.elt.querySelector("[data-ring-bell]")) {
          document.querySelector("#bell").play();
        }
      });

      document.addEventListener('htmx:beforeOnLoad', function (evt) {
          if (evt.detail.xhr.status === 400) {
              evt.detail.shouldSwap = true;
              evt.detail.isError = false;
          }
      });

    </script>
    <style>
    </style>
    <script>
      function enableDragon() {
        // https://developers.google.com/youtube/iframe_api_reference
        const tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";

        const firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        window.onYouTubeIframeAPIReady = function() {
          window.player = new YT.Player(
            'mr-brightside', 
            {
              videoId: 'gGdGFtwCNBE',
              playerVars: {
                playsinline: 1,
                start: 3,
              },
            }
          );
          let el = document.querySelector("#mr-brightside");
          el.classList.add("hidden");
        }

        interact("#my-stash")
          .dropzone({
            accept: "#dragon",
            ondrop(event) {
              window.player.pauseVideo();
            }
          });
          interact("#dragon").draggable({
            inertia: true,
            autoScroll: true,
            listeners: {
              move(event) {
                if (event.dragLeave?.id == "my-stash") {
                  window.player.playVideo();
                }
                defaultDragMove(event);
              },
              end: defaultDragEnd,
            }
          });
        }

        function getCenter (el) {
          const { left, top, width, height } = interact.getElementRect(el);
          const x = left + width / 2;
          const y = top + height / 2;
          return { x, y};
        }

        function enableBlackmail() {
          interact('#menu [data-dropzone]').dropzone({
            ondrop(event) {
              let dropzone = event.currentTarget;
              let draggable = event.relatedTarget;
              let center1 = getCenter(dropzone);
              let center2 = getCenter(draggable);
              let dx = center1.x - center2.x;
              let dy = center1.y - center2.y;
              let x = parseFloat(draggable.dataset.x) + dx;
              let y = parseFloat(draggable.dataset.y) + dy;
              draggable.style.transform = 'translate(' + x + 'px, ' + y + 'px)'
              draggable.setAttribute('data-x', x)
              draggable.setAttribute('data-y', y)
              let el = event.relatedTarget.querySelector('input');
              el.checked = true;
              el.value = event.currentTarget.dataset.role;
              if (document.querySelectorAll('#menu [data-blackmail]:checked').length == 2) {
                document.querySelector('#confirm').removeAttribute('disabled')
              }
            }
          });

          interact('#menu .draggable')
            .draggable({
              modifiers: [
                interact.modifiers.restrictRect({
                  restriction: '#menu',
                }),
              ],
              listeners: {
                move(event) {
                  if (event.dragLeave) {
                    let el = event.currentTarget.querySelector('input').checked = false;
                    if (document.querySelectorAll('#menu [data-blackmail]:checked').length < 2) {
                      document.querySelector('#confirm').setAttribute('disabled', '')
                    }
                  }
                  window.defaultDragMove(event);
                },
                end: window.defaultDragEnd,
              }
            });
        }


        function enableWarrants() {
          interact('#menu [data-dropzone]').dropzone({
            ondrop(event) {
              let dropzone = event.currentTarget;
              let draggable = event.relatedTarget;
              let center1 = getCenter(dropzone);
              let center2 = getCenter(draggable);
              let dx = center1.x - center2.x;
              let dy = center1.y - center2.y;
              let x = parseFloat(draggable.dataset.x) + dx;
              let y = parseFloat(draggable.dataset.y) + dy;
              draggable.style.transform = 'translate(' + x + 'px, ' + y + 'px)'
              draggable.setAttribute('data-x', x)
              draggable.setAttribute('data-y', y)
              let el = event.relatedTarget.querySelector('input');
              el.checked = true;
              el.value = event.currentTarget.dataset.role;
              if (document.querySelectorAll('#menu [data-warrant]:checked').length == 3) {
                document.querySelector('#confirm').removeAttribute('disabled')
              }
            }
          });

          interact('#menu .draggable')
            .draggable({
              modifiers: [
                interact.modifiers.restrictRect({
                  restriction: '#menu',
                }),
              ],
              listeners: {
                move(event) {
                  if (event.dragLeave) {
                    let el = event.currentTarget.querySelector('input').checked = false;
                    if (document.querySelectorAll('#menu [data-warrant]:checked').length < 3) {
                      document.querySelector('#confirm').setAttribute('disabled', '')
                    }
                  }
                  window.defaultDragMove(event);
                },
                end: window.defaultDragEnd,
              }
            });
        }
        function enableDrag(parent) {
          interact(`${parent} .draggable`)
          .draggable({
            inertia: true,
            modifiers: [
              interact.modifiers.restrictRect({
                restriction: parent,
                endOnly: true
              })
            ],
            autoScroll: true,
            listeners: {
              move: defaultDragMove,
              end: defaultDragEnd,
            }
          })
        }

      function defaultDragMove(event) {
        let target = event.target
        target.classList.add("dragging");

        let x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
        let y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

        target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'
        target.setAttribute('data-x', x)
        target.setAttribute('data-y', y)
      }

      function defaultDragEnd(event) {
        let target = event.target;
        let z = (parseInt(window.z) || 1);
        window.z = z + 1;
        target.style['z-index'] = z;
        target.classList.remove("dragging");
      }
    </script>
  </head>
  <body
    id="ws"
    class="h-screen text-base-content text-xl"
    hx-ext="ws,morph,json-enc"
    ws-connect="/ws"
    hx-swap="none"
  >
    {% block content %} 
    {% endblock %}
    <audio
      class="hidden"
      id="bell"
      src="/public/audio/cow.mp3"
      preload="auto"
    >
    </audio>
    <div class="hidden" id="mr-brightside" hx-swap-oob="none"></div>
  </body>
</html>
