<!doctype html>
<html>
  <head>
    <title>Citadels</title>
    <meta charset="utf-8" />
    <link name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/public/favicon.ico" />
    <link rel="stylesheet" href="/public/index.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
  </head>
  <body hx-ext="ws,idiomorph" class="h-screen">
    <main ws-connect="/ws" class="bg-slate-700 h-full text-slate-200 text-xl">
      <div class="flex flex-col gap-3 items-center justify-center">
        <h2 class="mt-3 underline text-2xl font-semibold">Game</h2>
        <div class="p-7 rounded border border-slate-500">
          <h2 class="underline text-2xl font-semibold">Players</h2>
          {% fragment players %}
          <ul id="players" class="list-disc" hx-swap-oob="true">
            {% for player in players %}
            <li id="{{ player.id }}">{{ player.name }}</li>
            {% endfor %}
          </ul>
          {% endfragment %}
        </div>
      </div>
    </main>
  </body>
</html>
